* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif; /* Define a fonte padrão */
  line-height: 1.6; /* Aumenta o espaçamento entre as linhas */
  background-color: #f4f4f4; /* Cor de fundo da página */
  color: #333; /* Cor do texto */
}
p {
  color: black;
  font-size: 14px;
  text-align: left;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 0;
  z-index: 1000;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: solid ;
  color: white;
  font-size: 18px;
  padding: 8px 16px;
  border-radius: 4px;
}

nav ul li a:hover {
  background-color: #555;
}

section {
  height: 100vh;
  padding: 20px;
  text-align: center;
}
#tit01 {
    padding-top: 25px;
    padding-left: 10px;
    font-size: 60px;
    text-align: left;
}
#tit02 {
    padding: 10px 10px;
    text-align: left;
    color: #555 ;
}